{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='{% static "/css/continue.css" %}'>
</head>
<body>
    <div class="filing">
        <div class="cf">
            <h4>Prior to filing a complaint with this portal, we would request you to read the below information regarding terms and conditions. Should you have queries prior to filing your complaint, view Frequently Asked Questions FAQ

                The information I've provided on this form is correct to the best of my knowledge. I acknowledge that providing false information could make me liable to penal actions under Indian Laws.
                
                I understand that action on the complaints reported on this portal shall be taken by concerned authorities as per Indian Laws.
                
                The complaint information you submit to this site is encrypted via secure socket layer (SSL) encryption. Please see the Privacy Policy for further information.
                
                We thank you for your cooperation.</h4>
                <br>
                <br>
            <input type="checkbox" id="mycheck" name="vehicle1" value="Bike">
            <label for="vehicle1">I accept all Rules of Panel</label>
            <br>
            <br>
            <a href="/home"><button type="button" class="btn btn-lg btn-dark">Register</button></a>

        </div>
    </div>
    
    
    
</body>
</html>